{% load i18n %}
{% get_current_language as CURRENT_LANGUAGE %}

<form action="{% url 'set_language' %}" method="post" class="flex w-full" x-on:click.stop>
    {% csrf_token %}
    <input name="next" type="hidden" value="{{ request.get_full_path }}">
    <input name="language" type="hidden" value="{{ language.code }}">

    <button type="submit" class="block cursor-pointer grow mx-1 px-3 py-2 rounded-default text-left hover:bg-base-100 hover:text-base-700 dark:hover:bg-base-700 dark:hover:text-base-200 {% if language.code == CURRENT_LANGUAGE %}text-primary-600 dark:text-primary-500 font-semibold{% endif %}">
        {{ language.name_local }} ({{ language.code }})
    </button>
</form>
